{% extends 'Letter/base.html' %}
{% load static %}
	{% block content %}
	<div style="margin:20px;">
		<h1>Schedule</h1>
		<table style="width:100%">
			<tr>
				<th>Due Date</th>
				<th>Student</th>
				<th>More info</th>
			</tr>
			<tr onclick="window.location='http://127.0.0.1:8000/letter/?id=1';">
				<td>04/12/2019</td>
				<td>Bill James</td>
				<td><a href="http://127.0.0.1:8000/letter/?id=1">More info</a></td>
			</tr>
			<tr onclick="window.location='http://127.0.0.1:8000/letter/?id=2';">
				<td>04/20/2019</td>
				<td>Mary Johnson</td>
				<td><a href="http://127.0.0.1:8000/letter/?id=2">More info</a></td>
			</tr>
			<tr onclick="window.location='http://127.0.0.1:8000/letter/?id=3';">
				<td>05/05/2019</td>
				<td>Robert Adams</td>
				<td><a href="http://127.0.0.1:8000/letter/?id=3">More info</a></td>
			</tr>
		</table>
	</div>
  {% endblock %}
